<header class="home__header__contain">
    <section class="home__header__contain__logo__search">
      <article class="home__header__logo">
        <a href="/valid"><img src="img/logo-mercado-liebre.svg" alt="" /></a>
      </article>

      <article class="home__header_search">
        <input type="text" placeholder=" Buscar productos, marcas" />
        <button class="home__header__search__btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </article>

      <div class="home__header__contain__logo__search__p">
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
      </div>
    </section>

    <section class="home__header__nav">
      <article class="home__header__nav__1">
        <ul class="home__header__nav__1">
          <li>
            <a href="">Ofertas</a>
          </li>
          <li>
            <a href="">Tiendas Oficiales</a>
          </li>
          <li>
            <a href="">Vender</a>
          </li>
          <li>
            <a href="">Ayuda</a>
          </li>
        </ul>
      </article>

      <article class="home__header__nav__2">
        <ul class="home__header__nav__2">
          <li>
            <a href=""> Creá tu cuenta<i class="fa-solid fa-id-card"></i></a>
          </li>
          <li>
            <a href="">
              Ingresá <i class="fa-solid fa-right-from-bracket"></i></a>
          </li>
          <li>
            <a href="">
              Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
          </li>
        </ul>
      </article>
    </section>

    <section class="menu_burger">
      <button class="home__header__menu__burger__btn">
        <i class="fa-solid fa-bars"></i>
      </button>
    </section>
  </header>